html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: scroll;
  background-color: #CAC9F7;
}

header {
  height: 70vh;
  overflow: hidden;
  position: relative;
}

ul.buoys {
  width: 100vw;
  position: relative;
  top: 23em;
  z-index: 100;
  display: inline-flex;
  justify-content: space-around;
}

li.buoy-1, li.buoy-2, li.buoy-3, li.buoy-4 {
  list-style-type: none;
}

/*
 * Coverr Videos
 */
 .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 14em;
    left: 0%;
    height: 200%;
    width: 200%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/* END Video */



article {
  padding: 1em;
  background: rgb(167,193,209); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(167,193,209,1) 0%, rgba(148,165,186,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(167,193,209,1) 0%,rgba(148,165,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(167,193,209,1) 0%,rgba(148,165,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c1d1', endColorstr='#94a5ba',GradientType=0 ); /* IE6-9 */
}
