html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #eee;
  overflow-x: scroll;
  background-color: #000;
}

header {
  height: 70vh;
  overflow: hidden;
  position: relative;
}

h1 {
  margin-top: 300px;
}

.reflection {
    position: relative;
    margin: 0 auto;
    top: 300px; left: 0;
    width: 100vw;
    overflow: hidden;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    transform: rotate(180deg);
    opacity: .5;
    z-index: -1;
  }
  .reflection::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: inherit;
    width: inherit;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 13%, rgba(0,0,0,0.98) 64%, rgba(0,0,0,1) 65%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 13%,rgba(0,0,0,0.98) 64%,rgba(0,0,0,1) 65%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 13%,rgba(0,0,0,0.98) 64%,rgba(0,0,0,1) 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

ul.buoys {
  width: 100vw;
  position: relative;
  top: 23em;
  z-index: 100;
  display: inline-flex;
  justify-content: space-around;
}

li.buoy-1, li.buoy-2, li.buoy-3, li.buoy-4 {
  list-style-type: none;
}

/*
 * Coverr Videos
 */
 .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 14em;
    left: 0%;
    height: 200%;
    width: 200%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/* END Video */



article {
  padding: 1em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
